.hero.liag
  .hero-inner
    .hero-logo= image_tag("liag/logos/large.png", alt: 'Love is a Game')
    .hero-copy
      %h1 The Story
      %hr
      %p Willow Bates: a recent college graduate, who works at a small cafe, lives alone in her childhood home. Lonesome and suffocated by the tedium of working at an unfulfilling job, Willow found a quiet joy in otome games. With few friends and a non-existent love life, shes grown attached to the happiness brought by romance novels.
      %p We join our heroine as her mundane days are interrupted the morning she stumbles across strikingly handsome, vaguely familiar men. After a second glance, it all becomes clear: her favorite characters are now real. “Be careful what you wish for.”
