.side-image
  .side-image-content
    %h4 Frequently Asked Questions
    %p
      Coming soon...
    = link_to 'Love is a Game', liag_path, class: 'button'
    = link_to 'View Features', features_liag_path, class: 'button'
    = link_to 'Explore Characters', characters_liag_path, class: 'button'
