- content_for(:hero) do
  .hero
    .hero-inner
      .hero-copy
        .side-image
          .side-image-content
            %h1 Features
            %hr
            %ul
              %li Six routes and romanceable characters
              %li 100% original artwork
              %li 18 possible endings
              %li 5+ cutscene CGs per route (30+ total)
              %li Adjustable text speed
              %li Customizeble main character name
              %li Auto/quick save and load
              %li Simple interface options
              %li Beta access for early adopters
          .images-wrapper
            = image_tag 'liag/sprites/alister.png'
        = link_to 'Explore Characters', characters_liag_path, class: 'button'
