- content_for :page_title, 'Thank You'
- content_for :meta_title, 'Thank You'
- content_for :meta_description, 'Thank you for pledging towards Love is a Game.'
- content_for :meta_url, thank_you_liag_url

.centered
  %h1 Thank You
  %hr

  %p We have received your pledge. You should receive an email confirmation of your purchase shortly. Thank you for your support!

= render 'shared/newsletter'
