.hero.characters
  .hero-inner
    %a.hero-logo{:href => "javascript:void(0)"}
      = image_tag('liag-logo-full.png', alt: 'Love Is A Game', class: 'big')
    -#.hero-copy
      %h1 Game Development Company
      %p We are awesome. Suck it.
    %a.button{:href => "javascript:void(0)"} Learn More
