.device-background
  .device-text
    %h4 Built on Unreal Engine 4
    %p We will ship both the initial demo as well as the final product using Epic's robust Unreal Engine 4. Initially, the game will be available for iOS and Android. We will also release the game on Linux, Mac OS X, and Windows.
  .device
    .screen.liag
