.hero {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-color: white;

  @include texture(135deg, $dark-blue, $red, 86, 1);

  &.liag {
    $liag-image: url(image-path('liag/backgrounds/lineup.jpg'));

    background-image: $liag-image;
    background-position: 50% 100%;
    background-repeat: no-repeat;

    min-height: 400px;

    .hero-inner {
      padding: 0 2em;
    }

    .hero-logo img {
      max-height: 200px;
    }

    @include media($large-screen) {
      min-height: 900px;

      .hero-logo img {
        max-height: 400px;
      }
    }
  }

  &.landing {
    $landing-image: url(image-path('backgrounds/about.jpg'));

    @include background(linear-gradient(top, rgba(darken($dark-blue, 40%), 0.25), rgba(darken($dark-blue, 40%), 0.95)), $landing-image 50% 100% no-repeat);

    @include media($large-screen) {
      @include background(linear-gradient(top, transparent 20%, rgba(darken($dark-blue, 40%), 0.95)), $landing-image 50% 100% no-repeat);
    }
  }

  &.liag,
  &.landing {
    background-size: cover;
  }

  .hero-logo img {
    @include filter(drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6)));

    display: block;
    margin: auto;

    &.big {
      height: 16em;
    }
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em 2em;
    text-align: center;

    .hero-copy {
      text-shadow: rgba(black, 0.5) 1px 1px 1px;
      text-align: center;

      .side-image-content {
        color: white;
      }

      h1 {
        font-style: italic;
        margin-bottom: 0.5em;
      }

      p, q {
        font-style: italic;
        margin: 0 auto 3em;
        text-align: left;
        text-indent: 2em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 50%;
        }
      }
    }

    .button {
      display: block;
      margin: 0.5em auto;

      @include media($large-screen) {
        display: inline-block;
      }
    }

  }
}
