.hero {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-color: white;
  $liag-image: image-path('backgrounds/liag/characters.png');

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 2em;

  &.liag {
    background-image: url($liag-image)
  }

  .hero-logo img {
    display: block;
    height: 3em;
    margin: 0 auto 1em;

    &.big {
      height: 16em;
    }
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-shadow: rgba(black, 0.5) 1px 1px 1px;
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p, q {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto;
        font-style: italic;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

  }
}
