.side-image {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-line-height: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: transparent;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  background: $side-image-content-background;
  padding: 1em 0.5em;

  @include media($large-screen) {
    @include row(table);

    &:nth-of-type(2n) {
      direction: rtl;
    }
  }

  .images-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    padding: 3em;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;

    &.framed img {
      border: 1em solid white;
    }

    &.drop-shadow img {
      @include filter(drop-shadow(1em 1em 2em rgba(black, 0.2)));
    }

    &.tilt-left img {
      @include transform(rotate(-10deg));
    }

    &.tilt-right img {
      @include transform(rotate(10deg));
    }

    @include media($large-screen) {
      @include span-columns(6);

      background-position: center;
      background-size: contain;
    }
  }

  .side-image-content {
    @include span-columns(12);

    clear: both;
    direction: ltr;
    display: block;
    padding: 1em 1em 4em;
    text-align: left;
    vertical-align: middle;

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }

    ul {
      list-style: disc;
      margin-left: 2em;
    }

    dd {
      font-style: italic;
    }

    p {
      margin-bottom: 3em;
      text-indent: 2em;
    }

    @include media($large-screen) {
      @include span-columns(6);
      padding: 4em 4em 8em;
    }
  }

  @include reset-display();
}
