header[role='banner']
  height: $header-height

  > nav[role='navigation']
    margin: 0 16px

    > ul.nav-menu
      list-style: none

      padding:  0
      margin:   0

      > li.nav-item
        display: inline

        > a
          display:        inline-block
          vertical-align: middle

          margin:   0
          padding:  0 16px

          font-size:    24px
          line-height:  $header-height

          color: white
