%h2 About Audilis
%hr

%p
  An indie company based out of Chicago, IL, Audilis is made up of 10 passionate individuals driven to contributing a beautiful game with depth to the otome scene. Our team consists of 2 writers, 5 artists, musician, programmer and project director. As fans of otome, we hope our games are enjoyed by the same fandoms that brought us together.
