%h2#facts Fact Sheet
%hr

%h3 Developer
= link_to 'Audilis', 'http://www.audilis.com'

%h3 Release Date
Summer 2017

%h3 Platforms
Windows, Mac, Linux, iOS, Android

%h3 Website
= link_to 'www.audilis.com/liag', 'http://www.audilis.com/liag'

%h3 Genre
Visual Novel / Otome

%h3 KickStarter
%div Launch: July 7th, 2016
= link_to 'Campaign Link', kickstarter_url, target: '_blank'
