%h2 Credits
%hr

%dl
  .member
    %dt Project Director
    %dd Davin Salas

  .member
    %dt Programmer
    %dd Daniel Lynn

  .member
    %dt Autumn Munro
    %dd Writer

  .member
    %dt Viola Yuzuki
    %dd Writer

  .member
    %dt Armi Benitez
    %dd CG Artist

  .member
    %dt Crystal Quach
    %dd Sprite Artist

  .member
    %dt Sarah Lyu
    %dd Background Artist

  .member
    %dt Jasmin Aleman
    %dd CG Artist

  .member
    %dt Alyssa Menes
    %dd Composer

  .member
    %dt Camille Arana
    %dd Textbox & Settings UI Design

  .member
    %dt Julie Nyugen
    %dd Background Artist
