$brown:       #A39569;
$tan:         #D3CCA1;
$gray:        #A2A39B;
$purple:      #A39091;
$red:         #A3404B;
$pink:        #D18687;
$green:       #96BC7A;
$dark-green:  #88A349;
$blue:        #A9DEDE;
$dark-blue:   #76B8B8;
