%header{ role: 'banner' }
  %nav{ role: 'navigation' }
    %ul.nav-menu
      %li.nav-item= link_to 'Games', '#'
      %li.nav-item= link_to 'Team', '#'
      %li.nav-item= link_to 'About', '#'
      %li.nav-item= link_to 'Contact', '#'
