.centered
  %h1 Join our Newsletter
  %p.centered Stay up to date on the latest news, releases, and exclusive offers!
  %hr
  = form_for :subscription, url: subscriptions_path do |fields|
    = fields.email_field :email, placeholder: 'Enter your email'
    = fields.submit 'Subscribe', data: { disable_with: 'Subscribing...' }
