.hero.landing
  .hero-inner
    .hero-copy
      %h1 About Us
      %hr
      %p
        We are a game company based out of Chicago, IL.
        We are working hard towards bringing a new era to indie otome.
        It is our goal to produce high quality visual novels that are not
        only fun, but loved by their fans. We dream of making a difference,
        and working with our fans to realize that dream.
    = link_to 'Love is a Game', liag_path, class: 'button'
    = link_to 'Our Team', team_path, class: 'button'
