- content_for :page_title, 'Thank You'
- content_for :meta_title, 'Thank You'
- content_for :meta_description, 'You are already subscribed.'

.centered
  %h1 Calm Down!
  %hr
  %div= image_tag 'liag/chibis/jin_cake.png'
  %hr
  %div It looks like you are already subscribed. :)
