- content_for :page_title, 'Thank You'
- content_for :meta_title, 'Thank You'
- content_for :meta_description, 'You are already subscribed.'
- content_for :meta_image, image_path('liag/chibis/jin_cake.png')

.centered
  %h1 Calm Down!
  %hr
  %div= image_tag 'liag/chibis/jin_cake.png'
  %hr
  %p
    It looks like you are already subscribed to our newsletter. Thanks!
