- content_for :page_title, 'Thank You'
- content_for :meta_title, 'Thank You'
- content_for :meta_description, 'You have been subscribed to our newsletter.'

.centered
  %h1 Thank You
  %hr
  %div= image_tag 'liag/chibis/jin_cake.png'
  %hr
  %p
    Please check your email to confirm your subscription.
