- content_for :page_title, 'Subscribe'
- content_for :meta_title, 'Subscribe'
- content_for :meta_description, 'Subscribe to the Audilis newsletter.'
- content_for(:hero) do
  = render 'subscriptions/hero'
