$large-screen: em(860) !default

div.centered,
article.centered,
section.centered
  @include span-columns(10)
  @include shift(1)

  padding: 1em 0.25em
  text-align: center

  h2, h4, h6
    text-align: left

  ol
    list-style: decimal

  ul
    list-style: disc
    text-align: left
    margin: 2em 0 2em 2em

  p
    text-align: left
    text-indent: 2em

    &.centered
      text-align: center
      text-indent: 0

  a
    text-indent: 0

  input[type='submit']
    margin: 1em auto

  .g-recaptcha div
    clear: both
    margin: 0 auto

  @include media($large-screen)
    @include span-columns(6)
    @include shift(3)
