/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 */

/*
 * Base style scaffold
 */
@import "bourbon";
@import "neat";
@import "base/base";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
 * Refill pattern styles
 */
@import "refills/textures";
@import "refills/parallax";
@import "refills/navigation";
@import "refills/hero";
@import "refills/footer";
@import "refills/side-image";
@import "refills/device";
@import "refills/type-system-slab";

/*
 * Application styles
 */
@import 'shared/fonts';
@import 'contact';

/*
 * Style overrides
 */
body {
  color: gray;

  margin:   0;
  padding:  0;

  @include media($large-screen) {
    margin-top: $header-height;
  }
}

main {
  @include outer-container;

  background: white;

  section {
    h1, h2, h3, h4, h5, h6 {
      padding:       1em 0;
      border-bottom: 1px solid lightgray;
    }

    padding: 1em;
  }
}

a {
  color: $dark-blue;
  outline: none;

  &:focus,
  &:hover {
    color: $blue;
  }
}

.audilis {
  font-family: 'Audilis';
  font-size: 200%;
}
