/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 */

/*
 * Base style scaffold
 */
@import "bourbon";
@import "neat";
@import "base/base";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
 * Refill pattern styles
 */
@import "refills/navigation";
@import "refills/hero";
@import "refills/footer";
@import "refills/side-image";
@import "refills/device";

/*
 * Application styles
 */
@import 'shared/fonts';

/*
 * Style overrides
 */
body {
  margin:   0;
  padding:  0;

  main {
    @include outer-container;
  }
}

.audilis {
  font-family: 'Audilis';
  font-size: 200%;
}
