.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      = image_tag('liag-logo-full.png', alt: 'Love Is A Game')
    -#.hero-copy
      %h1 Game Development Company
      %p We are awesome. Suck it.
    %button Learn More
