%body
  %header.navigation{:role => "banner"}
    .navigation-wrapper
      %a.logo{:href => "javascript:void(0)"}
        = image_tag('logo_small.png', alt: 'Audilis')
      %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
      %nav{:role => "navigation"}
        %ul#js-navigation-menu.navigation-menu.show
          %li.nav-link.more
            %a{:href => "javascript:void(0)"} Games
            %ul.submenu
              %li
                %a{:href => "javascript:void(0)"} Love Is A Game
          %li.nav-link
            %a{:href => "javascript:void(0)"} Team
          %li.nav-link
            %a{:href => "javascript:void(0)"} Contact
          %li.nav-link
            %a{:href => "javascript:void(0)"} About Us
      .navigation-tools
        -#.search-bar
          %form{:role => "search"}
            %input{:placeholder => "Enter Search", :type => "search"}/
            %button{:type => "submit"}
              %img{:alt => "Search Icon", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png"}/
        %a.sign-up{:href => "javascript:void(0)"} Sign Up
